#menu ul {
    list-style-type: none;
    text-align: center;
}
  
  #menu li {
    display:block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: relative;
  }
  
  #menu a {
    color: white;
    background-color: blue;
    text-decoration: none;
    display: block;
  }

  #menu a:hover {
    background: red;
    color: white;
  }
