#menu ul {
    background: blue;
    list-style-type: none;
    text-align: center;
    width: fit-content;
}
  
  #menu li {
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: relative;
  }
  
  #menu a {
    color: white;
    text-decoration: none;
    display: block;
  }
  #menu a:hover {
    background: red;
    color: white;
  }
  
  #menu .sub-name {
    position: absolute;
     display: none;
  }

  #menu li:hover .sub-name {
    width: 120px;
    display: inline-block;
  }